.Main11-head {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;       
    padding-top: 10px;
    box-sizing: border-box;
}

.main11-tex1 {
    text-align: center;
    margin-bottom: 40px;       
}

.forExplo {
    position: relative;
    font-size: 30px;
    font-weight: 500;
    bottom: 70px; 
}

.Main1For1 {
    position: relative;
    display: flex;
    justify-content: center;  
    
    bottom: 40px;
}

.imgContanier1 {
    display: flex;
    justify-content: space-between;
    gap: 197px;  
    margin-left: -197px;
    width: auto; 
}

.img-Wrapper1 {
    position: relative;
    width: 310px;
    text-align: center;
    
}

.img-Wrapper1 img {
    width: 160%;  
    height: 75%;
    border-radius: 8px;
   
}

.Salers{
    background-color: rgb(224, 231, 231);
    width: 540px;
    position: relative;
    height: 50px;
    border-radius: 19px;
    margin-top: -15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-left: 290px;
    top: 30px;
}




